@use 'variables'
    
*
    padding: 0
    margin: 0
    font-family: variables.$font-stack
    box-sizing: border-box

body
    background-image: url('../img/background.jpg')
    background-size: cover
    background-repeat: no-repeat
    
a, svg
    transition: .4s